name: Node CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install pnpm
        uses: pnpm/action-setup@v2
      - name: Set node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: pnpm
      - name: Install
        run: |
          pnpm install --frozen-lockfile
      - name: Test
        run: |
          pnpm run test
      - name: Build use-immer
        run: |
          cd packages/use-immer 
          pnpm build
      - name: Build use-worker
        run: |
          cd packages/use-worker 
          pnpm build
      - name: Docs-Build
        run: |
          cd packages/hooks
          pnpm install --frozen-lockfile
          pnpm run initial
          pnpm run docs:build
      - name: Build
        run: |
          cd packages/hooks
          pnpm run build
      - name: Build Full Types
        run: |
          cd packages/hooks
          pnpm run build:types
        env:
          CI: true
